@tailwind base;
@tailwind components;
@tailwind utilities;

.para{
    font-family: Bellefair;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.Contactpara{
    font-family: Bellefair;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;
}
